#container-bannerPrincipal, #container-planos, footer {
    background-color: #EDEDED;
}

h3 > span {color: #FED233; text-shadow: #454545 0.1em 0.1em 0.2em;}

#card-formulario {
    background-color: #FED233;
}

.container-formulario {
    width: 90%;
    
} 

.btn-social {
    width: 45%;
}

.formulario-dados {
    width: 90%;
    
}

@media screen and (min-width: 576px) { 
    .container-formulario {
        width: 90%;
    }
}

@media screen and (min-width: 768px) { 
    .container-formulario {
        width: 50%;
    }
    
}

@media screen and (min-width: 992px) { 
    .container-formulario {
        width: 50%;
    }
}

@media screen and (min-width: 1200px) { 
    .container-formulario {
        padding-top: 20px;
        padding-bottom: 20px;
      width: 30%;
    }
}